body{
    background-image: url(images/contact.jpg);
    background-size: cover;
    background-repeat: no-repeat;

}
div{
    width: 80%;
    height: 400px; 
    background-color: whitesmoke;
    padding-left: 15px;
    padding-top: 8px;
    margin: auto; 
} 
.H1{
    text-align: center;
    margin: auto;
}
textarea{
    margin: auto;
    resize: none;
    width: 80%;
    height: 100px;
    border: 1px solid white;
}
.ba{
    margin: auto;
    width: 80%;
    height: 80vh;
    background-color: rgb(94, 94, 228);
    border-radius: 5px;
    color: beige;


}
.ga, .ka{
    margin: auto;
    width: 80%;
    border: 1pt solid rgb(54, 53, 53);
    
}

@media(width<=400px){
    body{
        background-image: url(images/contact.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        /* height: auto; */
    }
}